TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
PRAYER_CHAT_ID=
MOVE_URL=https://move-santana.vercel.app/
CHURCH_URL=https://verbo-santana.vercel.app/
MOVE_SCHEDULE=
CHURCH_SCHEDULE=
CHURCH_ADDRESS=
CONTACT_URL=
